body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1533720/pexels-photo-1533720.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Quicksand", Calibri, serif;
}

.container {
  min-width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  width: 80vh;
  background: linear-gradient(180deg, rgb(2,12,36) 0%, rgb(29,120,141) 65%, rgb(220,192,175) 100%);
  box-shadow: 0px 0px 50px black;
  border-radius: 50px;
  align-items: center;
}

.login-div {
  height: calc(80px + 10vh);
}

.login {
  color: rgb(220,192,175);
  font-size:calc(40px + 5vh);
  border-bottom: 10px solid rgb(220,192,175);
}

.social-media-logos {
  display: flex;
  justify-content: space-evenly;
  width: calc(200px + 25vh);
}

.social-media {
  background-color: transparent;
  color: rgb(89,180,201);
  border: none;
  font-size: calc(16px + 2vh)
}

.social-media:hover {
  color: white;
}

.social-media:active {
  font-size: calc(18px + 2.25vh)
}

.text-boxes {
  font-weight: bold;
  font-size:calc(12px + 1.5vh);
  color: rgb(22,32,86);
}

.sign-in-input {
  background-color: rgb(29,120,141);
  color: white;
  font-size:calc(12px + 1.5vh);
  width: calc(120px + 15vh);
  border: 2px solid rgb(22,32,86);
  border-radius: 5px;
  height: 6vh;
}

::placeholder {
  color: rgb(89,180,201);
}

.sign-in-button {
  color: rgb(89,180,201);
  background-color: rgb(22,32,86);
  height: 6vh;
  width: calc(60px + 7.5vh);
  border-radius: 8px;
  font-size:calc(12px + 1.5vh);
  border: none;
}

.sign-in-button:hover {
  background-color: rgb(89,180,201);
  color: white;
}

.sign-in-button:active {
  font-weight: bold;
}
